In [1]:
import pandas as pd

url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"

dados = pd.read_csv(url)

print(dados)

                                  Rua              Bairro     Cidade  \
0               Avenida Itacira, 255    Planalto Paulista  São Paulo
1      Rua Aurelia Perez Alvarez, 42   Jardim dos Estados  São Paulo
2                     Rua Alba Valdez     Jardim Reimberg  São Paulo
3                                 NaN      Jardim Morumbi  São Paulo
4            Rua Tobias Barreto, 195                Mooca  São Paulo
...                               ...                 ...        ...
10003                      Rua Tapuçu          Vila Sofia  São Paulo
10004                   Rua Guararema     Bosque da Saúde  São Paulo
10005               Rua Estero Belaco       Vila da Saúde  São Paulo
10006         Rua Manuel Onha, , 514        Vila Oratório  São Paulo
10007      Rua Barão de Tramandaí, 0          Vila Alpina  São Paulo

       Metragem  Quartos  Banheiros  Vagas  \
0          1000        4          8      6
1           496        4          4      4
2           125        4          3      2
3           310        3          2      4
4           100        3          2      2
...         ...      ...        ...    ...
10003        95        2          2      2
10004       605        8          7      5
10005       205        3          3      6
10006       185        3          2      2
10007       122        3          2      2

                                      Valor
0                              R$ 7.000.000
1                              R$ 3.700.000
2                                R$ 380.000
3                                R$ 685.000
4                                R$ 540.000
...                                     ...
10003                            R$ 665.000
10004                          R$ 2.300.000
10005                          R$ 1.050.000
10006  R$ 2.200\n                      /Mês
10007                            R$ 270.000

[10008 rows x 8 columns]